body {
    background-color: #f8f9fa;
  }
  
  .container {
    margin-top: 50px;
    text-align: center;
  }
  
  canvas {
    border: 1px solid black;
    margin-top: 20px;
    max-width: 100%;
    height: auto;
  }
  
  .navbar-custom {
    background-color: #007BFF;
  }
  
  .navbar-custom .navbar-brand,
  .navbar-custom .nav-link {
    color: white;
  }
  
  .navbar-custom .navbar-nav .nav-link:hover {
    color: #d5d5d5;
  }
  
  .navbar-custom .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
  }
  
  .navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  @media (max-width: 768px) {
    .navbar-nav {
      text-align: center;
    }
  
    .navbar-nav .nav-item {
      margin-bottom: 10px;
    }
  }
  
  .custom-range {
    width: 100%;
  }
  